<section id="contentw" class="sidebar-hide rightbar-show">
    <div class="row">
        <div class="col-md-offset-1 col-md-10" style="max-height: 80vh;overflow-y: auto;">
            <h4 class="custom-font">Please rate the below Participants based on their involvement in the project</h4>
            <div class="row md-mt-40 md-p-10" ng-repeat="member in team" style="background-color: #ffffff;box-shadow: 1px 1px 3px #ccc;">
                <div class="col-md-4">
                    <div class="media">
                        <div class="pull-left thumb">
                            <img style="width: 50px;height: 50px;" class="media-object img-circle"
                                 ng-src="{[{member.avatar}]}"
                                 alt="">
                        </div>
                        <div class="media-body">
                            <p class="media-heading mb-0 mt-10">{[{member.firstName}]}
                                <strong>{[{member.lastName}]}</strong>
                            </p>
                            <small class="text-blue">{[{member.projectRoles}]}</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <span ng-raty="ratyOptions" ng-model="rating[$index].value"></span>
                </div>
                <div class="col-md-2">
                    <button ng-click="addDetails($index)"
                            class="btn btn-sm btn-border btn-amethyst"><i class="fa fa-pencil"></i>&nbsp;Add Detailed
                        Ratings
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-12 md-mt-40">
            <div style="position: absolute;right:120px">
                <button ng-click="saveSurvey()" class="btn btn-primary">Submit</button>
                <button ng-click="cancelSurvey()" class="btn btn-warning">Cancel</button>
            </div>
        </div>
    </div>
</section>
<div id="survey-sidebar" class="rightbar-hidden">
    <aside id="rightbar">
        <div class="row aside-header">
            <div class="col-md-12">
                <a role="button" tabindex="0" class="tile-close" style="float: right;color: #ffffff;"
                   ng-click="closeRightSidebar('survey-sidebar')"><i
                        class="fa fa-times"></i></a>
                <p class="custom-font aside-title"><strong>Detailed</strong> Review</p>
            </div>
        </div>
        <div class="aside-container">
            <div class="row md-pt-20" ng-repeat="skill in info.skillsDesired">
                <div class="col-md-4">
                    <label>{[{skill.name}]}</label>
                </div>
                <div class="col-md-4">
                    <span ng-raty="ratyOptions" ng-model="rating[currentIndex].skills[$index].value"></span>
                </div>
            </div>
            <div class="row md-pt-20">
                <div class="col-md-12">
                    <label>Detailed Comments</label>
                    <textarea ng-model="currentReview.review" rows="8" style="width: 100%"></textarea>
                </div>
            </div>
            <div class="row md-pt-50">
                <div class="col-md-12">
                    <button ng-click="closeRightSidebar('survey-sidebar')" class="btn btn-primary">Done</button>
                </div>
            </div>
        </div>
    </aside>
</div>