{% extends 'layout.html' %} {% block content %}
<div ng-app="engageApp">
    <header id="header">
        <div id="header-wrap">
            <div id="logo" class="mt-20">
                <a href="index.php" class="standard-logo">
                    <img src="/img/engage-logo-s.png" alt="">
                </a>
            </div>
            <nav id="primary-menu">
                <div ui-view="nav"></div>
            </nav>
        </div>
    </header>
    <section id="content">
        <div class="row">
            <div class="col-md-12">
                <div ui-view="body"></div>
            </div>
        </div>
    </section>
</div>
{% endblock %} {%block jsinclude%}
<script src="angular/indexApp.js"></script>
<script type="text/javascript">
    $(window).load(function() {
        $('#myCarousel').carousel({
            interval: 2000
        });
    });
</script>
{% endblock %}