<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/favicon.ico">
    <title>Engage CSR</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/minnovate.css" rel="stylesheet">

    <link rel="stylesheet" href="/js/datatables/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/js/datatables/datatables.bootstrap.min.css">
    <link rel="stylesheet" href="/js/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css">
    <link rel="stylesheet" href="/js/datatables/extensions/Responsive/css/dataTables.responsive.css">
    <link rel="stylesheet" href="/js/datatables/extensions/ColVis/css/dataTables.colVis.min.css">
    <link rel="stylesheet" href="/js/datatables/extensions/TableTools/css/dataTables.tableTools.min.css">
    <link rel="stylesheet" href="/js/datetimepicker/css/bootstrap-datetimepicker.min.css">


</head>

<body>
<header id="header-w">
    <div id="header-wrap-w">
        <div class="container-fluid clearfix">
            <div class="logo-wrapper">
            <span class="logo-span"></span><!--img src="http://placehold.it/250x50" alt=""-->
                <img src="/img/engage-logo.png">
            </div>
        </div>
    </div>
</header>

{% block content %}{% endblock %}
<script src="/js/jquery.min.js"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/bootstrap.js"></script>

<script src="/js/datatables/js/jquery.dataTables.min.js"></script>
<script src="/js/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js"></script>
<script src="/js/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="/js/datatables/extensions/ColVis/js/dataTables.colVis.min.js"></script>
<script src="/js/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script src="/js/datatables/extensions/dataTables.bootstrap.js"></script>
<script src="/js/datetimepicker/js/moment.js"></script>
<script src="/js/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $(window).load(function () {

        //Initialize mini calendar datepicker
        $('#mini-calendar').datetimepicker({
            inline: true
        });

        var table2 = $('#editable-usage');

        var oTable = $('#editable-usage').DataTable({
            "aoColumnDefs": [
                {'bSortable': false, 'aTargets': ["no-sort"]}
            ]
        });

        var nEditing = null;
        var nNew = false;

        $('#add-entry').click(function (e) {
            e.preventDefault();

            if (nNew && nEditing) {
                if (confirm("Previous row is not saved yet. Save it ?")) {
                    saveRow(oTable, nEditing); // save
                    $(nEditing).find("td:first").html("Untitled");
                    nEditing = null;
                    nNew = false;

                } else {
                    oTable.row(nEditing).remove().draw(); // cancel
                    nEditing = null;
                    nNew = false;

                    return;
                }
            }

            var aiNew = oTable.row.add(['', '', '', '', '', '', '']).draw();
            var nRow = oTable.row(aiNew[0]).node();
            editRow(oTable, nRow);
            nEditing = nRow;
            nNew = true;
        });

        table2.on('click', '.delete', function (e) {
            e.preventDefault();

            if (confirm("Are you sure?") == false) {
                return;
            }

            var nRow = $(this).parents('tr')[0];
            oTable.row(nRow).remove().draw();
            alert("Deleted!");
        });

        table2.on('click', '.cancel', function (e) {
            e.preventDefault();
            if (nNew) {
                oTable.row(nEditing).remove().draw();
                nEditing = null;
                nNew = false;
            } else {
                restoreRow(oTable, nEditing);
                nEditing = null;
            }
        });

        table2.on('click', '.edit', function (e) {
            e.preventDefault();

            /* Get the row as a parent of the link that was clicked on */
            var nRow = $(this).parents('tr')[0];

            if (nEditing !== null && nEditing != nRow) {
                /* Currently editing - but not this row - restore the old before continuing to edit mode */
                restoreRow(oTable, nEditing);
                editRow(oTable, nRow);
                nEditing = nRow;
            } else if (nEditing == nRow && this.innerHTML == "Save") {
                /* Editing this row and want to save it */
                saveRow(oTable, nEditing);
                nEditing = null;
                alert("Updated!");
            } else {
                /* No edit in progress - let's start one */
                editRow(oTable, nRow);
                nEditing = nRow;
            }
        });
    });


</script>

</body>
</html>
