<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/favicons/favicon.ico?v3">
    <title>Engage CSR</title>
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/minnovate.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <link href="/css/less-space.css" rel="stylesheet">
    <link href="/css/md-color-palette.css" rel="stylesheet">
    {% block css %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
    <script src="/js/jquery.js"></script>
    <script src="/js/tether.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-ui-router.min.js"></script>
    <script src="/js/ngStorage.min.js"></script>
    <script src="/js/angular-jwt.js"></script>
    <script src="/js/angular-permission.min.js"></script>
    <script src="/js/angular-permission-ui.min.js"></script>
    <script src="/js/angular-permission-ng.min.js"></script>
    <script src="/js/angular-cookies.min.js"></script>
    {%block scripts%}{% endblock %}
</body>

</html>
