{% extends 'layout.html' %}

{% block css %}
<style type="text/css">
    .control-group{
        margin:20px 0px;
    }
    .form-actions{
        margin:20px 0px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-40">
        <div class="col-md-offset-4 col-md-4">
            <section class="tile">
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>{{title}} </strong>Form</h1>
                    <ul class="controls">
                        <li class="dropdown">

                            <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
                                <i class="fa fa-cog"></i>
                                <i class="fa fa-spinner fa-spin"></i>
                            </a>

                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" class="tile-toggle">
                                        <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
                                        <span class="expand"><i
                                                class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" class="tile-refresh">
                                        <i class="fa fa-refresh"></i> Refresh
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" class="tile-fullscreen">
                                        <i class="fa fa-expand"></i> Fullscreen
                                    </a>
                                </li>
                            </ul>

                        </li>
                        <li class="remove"><a role="button" tabindex="0" class="tile-close"><i class="fa fa-times"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="tile-body">
                    <form></form>
                    <div id="res"></div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %} {%block jsinclude%}
<script src="/js/underscore.js"></script>
<script src="/js/jsv.js"></script>
<script src="/js/jsonform.js"></script>
<script type="text/javascript">
    $.ajax("{{jsonUrl}}", {
        success: function (resp) {
            $('form').jsonForm({
                schema: resp,
                onSubmit: function (err, values) {
                    if (err) {
                        $('#res').text('Error');
                    } else {

                        $.ajax({
                            type: "POST",
                            url: "{{postUrl}}",
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify(values),
                            success: function (resp) {
                                console.log('Success', resp)
                            },
                            error: function (err) {
                                console.log('Error', err)
                            }
                        })

                    }
                }
            });
        }
    })
</script>
{% endblock %}