{% extends 'layout.html' %}

{% block css%}
<link rel="stylesheet" href="/js/datetimepicker/css/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block content %}
<div ng-app="engageApp">
    <div ui-view="projectHeader"></div>
    <section id="contentw" data-pid="{{pid}}">
    <div class="row">
        <div class="col-md-12">
            <div class="row mt-10">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Project Tracker -->
                            <div ui-view="projectTasks"></div>
                            <!-- END: Project Tracker -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <!-- Project Info -->
                            <div ui-view="projectInfo"></div>
                            <!-- END: Project Info -->
                        </div>
                        <div class="col-md-6">
                            <!-- Team Members -->
                            <div ui-view="teamMembers"></div>
                            <!-- END: Team Members -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Message Stream -->
                    <div ui-view="messageStream"></div>
                    <!-- END: Message Stream -->
                </div>
            </div>

        </div>
    </div>
</section>
</div>
{% endblock %}

{% block scripts %}
<script src="/js/angular-drag-and-drop-lists.min.js"></script>
<script src="/js/dirPagination.js"></script>
<script src="/js/datetimepicker/js/moment.js"></script>
<script src="/js/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/angular-moment.min.js"></script>
<script src="/angular/projectApp.js"></script>

{% endblock %}