<section class="tile tile-simple">
    <div class="tile-widget p-30 text-center">
        <div class="thumb thumb-xl">
            <img style="height:100px;width:100px;" class="img-circle" ng-src="{[{user.avatar}]}" alt="">
        </div>
        <h4 class="mb-0"><strong>{[{user.firstName}]}</strong>
            {[{user.lastName}]}</h4>
        <span class="text-muted">{[{user.title}]}</span>
    </div>
    <div class="tile-body text-center bg-blue p-0">
    </div>
</section>

<section class="tile tile-simple">
    <div class="tile-header">
        <h1 class="custom-font"><strong>About</strong> Me</h1>
    </div>
    <div class="tile-body">
        <p class="text-default lt">{[{user.aboutMe}]}</p>
    </div>
</section>

<section class="tile tile-simple">
    <div class="tile-header">
        <h1 class="custom-font"><strong>Badges</strong> Earned</h1>
    </div>
    <div class="tile-body">
        <p>
            <span class="md-mr-10 md-ml-10" ng-repeat="badge in user.profile.badges">
                <img style="height:75px" ng-src="{[{badge.award | idToBadgeImg:badges}]}" alt="badge"/>
            </span>
        </p>
    </div>
</section>