<div class="wrap-reset">
    <section class="tile tile-simple">
        <div class="tile-header">
            <h1 class="custom-font">Your <strong>Top 5 </strong>Strengths</h1>
        </div>
        <div class="tile-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="row md-mt-20">
                        <div class="col-md-6">
                            <input ng-model="skills.primarySkills[0].skill" type="text" class="form-control" id="skill1" placeholder="Skill 1">
                        </div>
                        <div class="col-md-6">
                            <div ng-raty="ratyOptions" ng-model="skills.primarySkills[0].rating"></div>
                        </div>
                    </div>
                    <div class="row md-mt-20">
                        <div class="col-md-6">
                            <input ng-model="skills.primarySkills[1].skill" type="text" class="form-control" id="skill2" placeholder="Skill 2">
                        </div>
                        <div class="col-md-6">
                            <div ng-raty="ratyOptions" ng-model="skills.primarySkills[1].rating"></div>
                        </div>
                    </div>
                    <div class="row md-mt-20">
                        <div class="col-md-6">
                            <input ng-model="skills.primarySkills[2].skill" type="text" class="form-control" id="skill3" placeholder="Skill 3">
                        </div>
                        <div class="col-md-6">
                            <div ng-raty="ratyOptions" ng-model="skills.primarySkills[2].rating"></div>
                        </div>
                    </div>
                    <div class="row md-mt-20">
                        <div class="col-md-6">
                            <input ng-model="skills.primarySkills[3].skill" type="text" class="form-control" id="skill4" placeholder="Skill 4">
                        </div>
                        <div class="col-md-6">
                            <div ng-raty="ratyOptions" ng-model="skills.primarySkills[3].rating"></div>
                        </div>
                    </div>
                    <div class="row md-mt-20">
                        <div class="col-md-6">
                            <input ng-model="skills.primarySkills[4].skill" type="text" class="form-control" id="skill5" placeholder="Skill 5">
                        </div>
                        <div class="col-md-6">
                            <div ng-raty="ratyOptions" ng-model="skills.primarySkills[4].rating"></div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary panel-filled">
                        <div class="panel-heading">
                            <h3 class="panel-title custom-font">Top Strengths</h3>
                        </div>
                        <div class="panel-body">
                            <p>Use this section to list the skills you think you can use to help others.</p>
                            <p>We'll use your answers to match you to projects that are in need of these skills</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="tile tile-simple">
        <div class="tile-header">
            <h1 class="custom-font">Your <strong>Top 3</strong> desired Skills</h1>
        </div>
        <div class="tile-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="row md-mt-20">
                        <div class="col-md-8">
                            <input ng-model="skills.desiredSkills[0]" type="text" class="form-control" id="dskill1" placeholder="Skill 1">
                        </div>
                    </div>
                    <div class="row md-mt-20">
                        <div class="col-md-8">
                            <input ng-model="skills.desiredSkills[1]" type="text" class="form-control" id="dskill2" placeholder="Skill 2">
                        </div>
                    </div>
                    <div class="row md-mt-20">
                        <div class="col-md-8">
                            <input ng-model="skills.desiredSkills[2]" type="text" class="form-control" id="dskill3" placeholder="Skill 3">
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="panel panel-greensea panel-filled">
                        <div class="panel-heading">
                            <h3 class="panel-title custom-font">Desired Skills</h3>
                        </div>
                        <div class="panel-body">
                            <p>Use this section to list areas you aspire to develop and grow in.</p>
                            <p>We'll use your answers to match you to projects that give you a chance to develop and learn these skills</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-offset-6 col-md-6 md-mt-50">
            <button class="btn btn-rounded btn-success" ng-click="saveSkills()" style="float:right;">Save Skills
            </button>
        </div>
    </div>
</div>
