<section id="contentw" class="sidebar-hide rightbar-show">
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spin1"></span>
    <div ui-view="leftSidebar"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="row mt-10">
                <section id="profile">
                    <div class="page page-profile">
                        <div class="pagecontent">
                            <div class="row">
                                <div class="col-md-4">
                                    <div ui-view="about"></div>
                                </div>
                                <div class="col-md-8">
                                    <section class="tile tile-simple">
                                        <div class="tile-body p-0">
                                            <div role="tabpanel">
                                                <ul class="nav nav-tabs tabs-dark" role="tablist">
                                                    <li role="presentation" class="active">
                                                        <a href="#projectsTab" aria-controls="projectsTab" role="tab"
                                                           data-toggle="tab">Projects</a>
                                                    </li>
                                                    <li ng-if="user.shortid == currentSid" class="" role="presentation">
                                                        <a href="#settingsTab" aria-controls="settingsTab" role="tab"
                                                           data-toggle="tab">Edit Profile</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div role="tabpanel" class="tab-pane active" id="projectsTab"
                                                         ui-view="projects"></div>
                                                    <div ng-if="user.shortid == currentSid" role="tabpanel"
                                                         class="tab-pane" id="settingsTab" ui-view="settings"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="tile tile-simple">
                                        <div class="tile-body p-0">
                                            <div role="tabpanel">
                                                <ul class="nav nav-tabs tabs-dark" role="tablist">
                                                    <li role="presentation" class="active">
                                                        <a href="#viewSkillsTab" aria-controls="viewSkillsTab"
                                                           role="tab" data-toggle="tab">Skills</a>
                                                    </li>
                                                    <li ng-if="user.shortid == currentSid" class="" role="presentation">
                                                        <a href="#skillsTab" aria-controls="skillsTab" role="tab"
                                                           data-toggle="tab">Edit Skills</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div role="tabpanel" class="tab-pane active" id="viewSkillsTab"
                                                         ui-view="viewSkills"></div>
                                                    <div ng-if="user.shortid == currentSid" role="tabpanel"
                                                         class="tab-pane" id="skillsTab" ui-view="skills"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>