<div class="wrap-reset">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="first-name">First Name</label>
            <input ng-model="user.firstName" type="text" class="form-control"
                   id="first-name">
        </div>
        <div class="form-group col-md-6">
            <label for="last-name">Last Name</label>
            <input ng-model="user.lastName" type="text" class="form-control"
                   id="last-name">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label for="title">Title</label>
            <input type="text" class="form-control"
                   id="title" ng-model="user.title">
        </div>
        <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="text" class="form-control"
                   id="email"
                   ng-model="user.email">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12">
            <label for="bio">About Me</label>
            <textarea class="form-control" id="bio" rows="8" ng-model="user.aboutMe"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="bio">Current Profile Image</label>
            <img class="md-mt-10 img-circle" ng-src="{[{user.avatar}]}"
                 style="height:100px;width:100px;display:block;"/>
            <a ng-model="user.uploadedAvatar" id="uploadedAvatar"
               name="uploadedAvatar" ngf-pattern="'image/*'"
               ngf-accept="'image/*'" ngf-max-size="2MB"
               ngf-select
               class="btn btn-sm btn-amethyst btn-border btn-rounded md-mt-30">Upload Profile Image</a>
        </div>
        <div class="col-md-6" ng-if="user.uploadedAvatar">
            <label for="bio">New Profile Image</label>
            <img class="md-mt-10 img-circle" ngf-src="user.uploadedAvatar"
                 style="height: 100px;width:100px;display: block;" ngf-no-object-url="true"/>
            <button class="btn btn-sm btn-warning btn-border btn-rounded md-mt-30" ng-click="cancelProfileImage()">Cancel
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-6 col-md-6 md-mt-50">
            <button class="btn btn-rounded btn-success" ng-click="saveProfileUpdates(user)" style="float:right;">Save Profile</button>
        </div>
    </div>
</div>
