<div class="wrap-reset">
    <form class="profile-settings">

        <div class="row">
            <div class="form-group col-md-12 legend">
                <h4><strong>Personal</strong> Settings</h4>
                <p>Your personal account settings</p>
            </div>
        </div>

        <div class="row">

            <div class="form-group col-sm-6">
                <label for="first-name">First Name</label>
                <input type="text" class="form-control"
                       id="first-name" value="John">
            </div>

            <div class="form-group col-sm-6">
                <label for="last-name">Last Name</label>
                <input type="text" class="form-control"
                       id="last-name" value="Douey">
            </div>

        </div>

        <div class="row">

            <div class="form-group col-sm-6">
                <label for="address1">Address Line 1</label>
                <input type="text" class="form-control"
                       id="address1" value="Vajnorska 215">
            </div>

            <div class="form-group col-sm-6">
                <label for="address2">Address Line 2</label>
                <input type="text" class="form-control"
                       id="address2"
                       value="IBM Tower, floor #32">
            </div>

        </div>

        <div class="row">

            <div class="form-group col-sm-4">
                <label for="city">City</label>
                <input type="text" class="form-control"
                       id="city" value="Bratislava">
            </div>

            <div class="form-group col-sm-4">
                <label for="state">State/Provice</label>
                <input type="text" class="form-control"
                       id="state" value="Bratislava">
            </div>

            <div class="form-group col-sm-4">
                <label for="zip">Zip Code</label>
                <input type="text" class="form-control"
                       id="zip" value="215 62">
            </div>

        </div>

        <div class="row">

            <div class="form-group col-sm-6">
                <label for="email">E-mail</label>
                <input type="email" class="form-control"
                       id="email" value="johny.d@tattek.com"
                       readonly>
            </div>

            <div class="form-group col-sm-6">
                <label for="country">Country</label>
                <select id="country" class="chosen-select"
                        style="width: 100%;">
                    <option>Slovakia</option>
                    <option>Czech Republic</option>
                    <option>Poland</option>
                    <option>Hungary</option>
                    <option>Austria</option>
                </select>
            </div>

        </div>

        <div class="row">

            <div class="form-group col-sm-6">
                <label for="phone">Phone</label>
                <input type="text" class="form-control"
                       id="phone"
                       value="+(421) 903 669 478">
                <span class="help-block">+(421) 999 999 999</span>
            </div>

            <div class="form-group col-sm-6">
                <label for="avatar">Avatar</label>
                <input type="file" id="avatar"
                       class="filestyle"
                       data-buttonText="Find file"
                       data-iconName="fa fa-inbox">
                <span class="help-block">Allowed files: gif, png, jpg. Max file size 1Mb</span>
            </div>

        </div>

        <div class="row">

            <div class="form-group col-sm-6">
                <label for="website">Website</label>
                <input type="text" class="form-control"
                       id="website"
                       value="http://tattek.com/minimal">
            </div>

            <div class="form-group col-sm-6">
                <label for="bio">Bio</label>
                                                                        <textarea class="form-control" id="bio"
                                                                                  rows="4">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was</textarea>
            </div>

        </div>
    </form>

</div>
