<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title custom-font">Badge Modal View</h3>
        </div>
        <div class="modal-body">
            <div class="row md-pt-20">
                <div class="col-md-12">
                    <pre>{[{teamSelectOptions}]}</pre>
                    <!--selectize config="teamSelectConfig" options="team" ng-model="recipient"></selectize-->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Submit</button>
            <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" data-dismiss="modal"><i class="fa fa-arrow-left"></i> Cancel</button>
        </div>
    </div>
</div>