<div class='streamline-form' style='position:inherit'>
    <div class='thumb thumb-sm'><img class='img-circle' ng-src='{[{user.avatar}]}' alt=''></div>
    <form>
        <div class='input-group'><input ng-model='currentReplyMessage' type='text' class='form-control'
                                        placeholder='Reply here...'> <span class='input-group-btn'> <button
                ng-click='postMessage(replyMessageIndex,currentReplyMessage)' class='btn btn-default'
                type='button'>Post</button> </span></div>
    </form>
</div>