<section class="tile">
    <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font"><strong>Project</strong> Information</h1>
        <ul class="controls">
            <li class="remove"><a role="button" tabindex="0" class="tile-close"><i
                    class="fa fa-times"></i></a>
            </li>
        </ul>
    </div>
    <div class="tile-body fixed-height-450">
        <div class="row">
            <div class="image-float-left text-center">
                <div class="thumb thumb-xl">
                    <img class="img-circle" ng-src="{[{info.logo}]}" alt="">
                </div>
                <h4 class="mb-0">{[{info.name}]}</h4>
                <span class="text-muted">{[{info.sDate | date: "mediumDate"}]} - {[{info.eDate | date: "mediumDate"}]}</span>
            </div>
            <div ng-bind-html="info.description" class="text-wrap">
            </div>
        </div>

        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#aboutOrg" data-toggle="tab">About</a></li>
            <li><a href="#orgContact" data-toggle="tab">Contacts</a></li>
            <li><a href="#otherResources" data-toggle="tab">Resources</a></li>
        </ul>

        <div id="my-tab-content" class="tab-content">
            <div ng-bind-html="info.aboutOrg" class="tab-pane active" id="aboutOrg"></div>
            <div ng-bind-html="info.orgContact" class="tab-pane" id="orgContact"></div>
            <div ng-bind-html="info.otherResources" class="tab-pane" id="otherResources"></div>
        </div>  

    </div>
</section>