<div class="row">
    <div class="col-md-12">
        <div class="row mt-10">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div ui-view="projectTasks"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div ui-view="projectInfo"></div>
                    </div>
                    <div class="col-md-6">
                        <div ui-view="teamMembers"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div ui-view="messageStream"></div>
            </div>
        </div>

    </div>
</div>