<section class="tile tile-simple no-bg">
    <div class="tile-body streamline p-0">
        <article ng-repeat="m in fbMessages" class="streamline-post">
            <aside>
                <div class="thumb thumb-sm">
                    <img class="img-circle" ng-src="{[{m.avatar}]}" alt="">
                </div>
            </aside>
            <div class="post-container">
                <div class="panel panel-default">
                    <div class="panel-heading bg-white">
                        {[{m.from}]}

                        <span ng-if="m.created == user.shortid" ng-click="deleteMessage(m.$id,false,null)" class="text-muted pull-right md-ml-15">
                        <a href=""><i class="fa fa-trash"></i><span></span></a>
                        </span>

                        <span class="text-muted pull-right">
                            <i class="fa fa-clock-o mr-5"></i><span
                                am-time-ago="m.timestamp"></span>
                        </span>

                    </div>
                    <div class="panel-body">
                        {[{m.message}]}
                        <p class="mt-10 mb-0">
                            <a href="" ng-click="showReplyBox(m.$id)" class="btn btn-default btn-xs">
                                <i class="fa fa-mail-reply"></i> Reply
                            </a>
                        </p>
                    </div>
                </div>
                <ul id="message{[{m.$id}]}" class="list-unstyled post-replies">
                    <li ng-repeat="(key,r) in m.replies">
                        <aside>
                            <div class="thumb thumb-sm">
                                <img class="img-circle" ng-src="{[{r.avatar}]}" alt="">
                            </div>
                        </aside>
                        <div class="reply-container">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p>
                                        <strong>{[{r.from}]}</strong>
                                        <span ng-if="r.created == user.shortid" ng-click="deleteMessage(key,true,m.$id)" class="text-muted pull-right md-ml-15">
                                        <a href=""><i class="fa fa-trash"></i><span></span></a>
                                        </span>
                                        <span class="text-muted pull-right"><i class="fa fa-clock-o mr-5"></i><span
                                                am-time-ago="m.timestamp"></span></span>
                                    </p>
                                    <p class="mb-0 text-small">{[{r.message}]}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </article>
        <div class="streamline-form md-mt-20">
            <div class="thumb thumb-sm"><img style="width: 40px; height: 40px;" class="img-circle" ng-src="{[{user.avatar}]}" alt="">
            </div>
            <form>
                <div class="input-group">
                    <input eg-enter="postMessage(currentMessage)" ng-model="currentMessage" type="text" class="form-control" placeholder="Write your comment here...">
                      <span class="input-group-btn">
                        <button ng-click="postMessage(currentMessage)" class="btn btn-default" type="button">Post</button>
                      </span>
                </div>
            </form>
        </div>

    </div>
</section>