<section id="header">
    <header class="clearfix">
        <div class="branding">
            <a class="brand" href="/index?token={[{token}]}">
                <span><img src="/img/logo_h_340_50.png"> </span>
            </a>
            <a role="button" tabindex="0" class="offcanvas-toggle visible-xs-inline"><i class="fa fa-bars"></i></a>
        </div>
        <ul class="nav-right pull-right list-inline">

            <li class="dropdown nav-profile">

                <a href class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/img/avatars/ma1.png" alt="" class="img-circle size-40x40">
                    <span>Robin Wills <i class="fa fa-angle-down"></i></span>
                </a>

                <ul class="dropdown-menu animated littleFadeInRight" role="menu">

                    <li>
                        <a role="button" tabindex="0">
                            <span class="badge bg-greensea pull-right">86%</span>
                            <i class="fa fa-user"></i>Profile
                        </a>
                    </li>
                    <li>
                        <a role="button" tabindex="0">
                            <span class="label bg-lightred pull-right">new</span>
                            <i class="fa fa-check"></i>Tasks
                        </a>
                    </li>
                    <li>
                        <a role="button" tabindex="0">
                            <i class="fa fa-cog"></i>Settings
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a role="button" tabindex="0">
                            <i class="fa fa-lock"></i>Lock
                        </a>
                    </li>
                    <li>
                        <a role="button" tabindex="0">
                            <i class="fa fa-sign-out"></i>Logout
                        </a>
                    </li>

                </ul>

            </li>

        </ul>
    </header>
</section>