<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title custom-font">Review Modal View</h3>
        </div>
        <div class="modal-body">
            Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults.
        </div>
        <div class="modal-footer">
            <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Submit</button>
            <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" data-dismiss="modal"><i class="fa fa-arrow-left"></i> Cancel</button>
        </div>
    </div>
</div>
