<section class="tile">
    <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font"><strong>Project</strong> Tasks</h1>
        <ul class="controls">
            <li>
                <a ng-click="addNewTask()" role="button" tabindex="0" id="add-entry"><i class="fa fa-plus mr-5"></i> Add
                    Entry</a>
            </li>
        </ul>
    </div>
    <div class="tile-body project-tasks">
        <div class="form-group" style="margin-bottom: 60px;">
            <label for="input05" class="col-sm-1 control-label">Search</label>
            <div class="col-sm-11">
                <input type="text" class="form-control rounded" ng-model="searchText" id="input05">
                <span ng-click="searchText=''" id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
            </div>
        </div>
        <div class="form-group">
            <ul dnd-list="fbTasks">
                <li dir-paginate="task in fbTasks |filter:{status:'!deleted'}| filter:searchText| itemsPerPage: tasksPerPage"
                    dnd-draggable="task"
                    dnd-effect-allowed="move"
                    dnd-selected="dndSelectedFn(task)"
                    ng-class="{'selected':models.selected==task}">
                    <div class="row task">
                        <div class="col-md-5"
                             ng-class="{'In Progress':'progress-desc', 'New':'new-desc', 'Complete':'complete-desc', 'Blocked':'blocked-desc'}[task.status]">
                            {[{task.description}]}
                        </div>
                        <div class="col-md-3 task-image"><img ng-src="{[{task.ownerImage}]}" alt=""
                                                              class="img-circle size-30x30"><span>{[{task.owner}]}</span>
                        </div>
                        <div class="col-md-2">
                            <span ng-class="{'In Progress':'progress', 'New':'new', 'Complete':'complete', 'Blocked':'blocked'}[task.status]">
                                {[{task.status}]}
                            </span>
                        </div>
                        <div class="col-md-2">{[{task.due}]}</div>
                        <div class="col-md-1">
                            <a ng-click="editTask($index)" href="#" class="pull-right"><i class="fa fa-edit"></i></a>
                            <a ng-click="deleteTask(task.$id)" href="#" class="md-pr-10 pull-right"><i
                                    class="fa fa-trash"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-2">
                <p>Tasks per Page</p>
            </div>
            <div class="col-md-2">
                <select class="form-control" ng-model="tasksPerPage">
                    <option>2</option>
                    <option selected>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>10</option>
                </select>
            </div>
            <div class="col-md-8">
                <dir-pagination-controls></dir-pagination-controls>
            </div>
        </div>

    </div>
</section>

<div id="controls" class="rightbar-hidden">
    <aside id="rightbar">
        <div class="row aside-header">
            <div class="col-md-12">
                <a role="button" tabindex="0" class="tile-close" style="float: right;color: #ffffff;"
                   ng-click="closeRightSidebar()"><i
                        class="fa fa-times"></i></a>
                <p class="custom-font aside-title"><strong>{[{models.selectedAction}]}</strong> Task</p>
            </div>
        </div>
        <div class="aside-container">
            <div class="row md-pt-40">
                <div class="col-md-12">
                    <label>Task Description</label>
                    <div contenteditable ng-model="models.selected.description"></div>
                </div>
            </div>
            <div class="row md-pt-20">
                <div class="col-md-12">
                    <label>Assigned To</label>
                    <selectize config='myConfig' options='myOptions' ng-model="models.selected.ownerEmail"></selectize>
                </div>
            </div>
            <div class="row md-pt-20">
                <div class="col-md-12">
                    <label>Current Status</label>
                    <selectize config='statusConfig' options='statusOptions'
                               ng-model="models.selected.status"></selectize>
                </div>
            </div>
            <div class="row md-pt-20">
                <div class="col-md-12">
                    <label>Due Date</label>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#"
                           href="">
                            <div class="input-append"><input type="text" class="input-large"
                                                             data-ng-model="models.selected.due">
                                <span class="add-on"><i class="fa fa-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="models.selected.due"
                                            data-on-set-time="onTimeSet(newDate, oldDate)"
                                            data-datetimepicker-config="{ modelType: 'MM-DD-YYYY', minView:'day', dropdownSelector: '.dropdown-toggle' }"></datetimepicker>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row md-pt-50">
                <div class="col-md-12">
                    <button ng-click="save(models.selected)" class="btn btn-primary">Save</button>
                    <button ng-click="cancelEditItem()" class="btn btn-warning">Cancel</button>
                </div>
            </div>

            <section class="md-mt-40 tile tile-simple no-bg">
                <div class="tile-body streamline p-0">
                    <article ng-repeat="r in models.selectedTaskConversation" class="streamline-post">
                        <aside>
                            <div class="thumb thumb-sm">
                                <img class="img-circle" engage-avatar="{[{r.created}]}" class="img-circle" src="/img/avatars/ma1.png" alt="avatar">
                            </div>
                        </aside>
                        <div class="post-container">
                            <div class="panel panel-default">
                                <div class="panel-heading bg-white">
                                    {[{r.created|sidToUname:team}]}
                                    <span ng-if="r.created == user.shortid" ng-click="deleteTaskComment(r.$id,models.selected.$id)" class="text-muted pull-right md-ml-15">
                                        <a href=""><i class="fa fa-trash"></i><span></span></a>
                                    </span>
                                    <span class="text-muted pull-right">
                                        <i class="fa fa-clock-o mr-5"></i><span am-time-ago="r.timestamp"></span>
                                    </span>
                                </div>
                                <div class="panel-body">
                                    {[{r.message}]}
                                </div>
                            </div>
                        </div>
                    </article>
                    <div class="streamline-form md-mt-20">
                        <div class="thumb thumb-sm">
                            <img style="width: 40px; height: 40px;" class="img-circle" ng-src="{[{user.avatar}]}" alt="">
                        </div>
                        <form>
                            <div class="input-group">
                                <input eg-enter="addTaskComment(models.selected, newComment)" ng-model="newComment" type="text" class="form-control" placeholder="Write your comment here...">
                                <span class="input-group-btn">
                                    <button ng-click="addTaskComment(models.selected, newComment)" class="btn btn-default" type="button">Add Comment</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

        </div>
    </aside>
</div>
