<section class="tile">
    <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font"><strong>Project</strong> Tasks</h1>
        <ul class="controls">
            <li>
                <a role="button" tabindex="0" id="add-entry"><i class="fa fa-plus mr-5"></i> Add
                    Entry</a>
            </li>
            <li class="dropdown">

                <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
                    <i class="fa fa-cog"></i>
                    <i class="fa fa-spinner fa-spin"></i>
                </a>

                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                    <li>
                        <a role="button" tabindex="0" class="tile-toggle">
                                    <span class="minimize"><i
                                            class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
                            <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
                        </a>
                    </li>
                    <li>
                        <a role="button" tabindex="0" class="tile-refresh">
                            <i class="fa fa-refresh"></i> Refresh
                        </a>
                    </li>
                    <li>
                        <a role="button" tabindex="0" class="tile-fullscreen">
                            <i class="fa fa-expand"></i> Fullscreen
                        </a>
                    </li>
                </ul>

            </li>
            <li class="remove"><a role="button" tabindex="0" class="tile-close"><i
                    class="fa fa-times"></i></a>
            </li>
        </ul>
    </div>
    <div class="tile-body project-tasks">
        <div class="form-group" style="margin-bottom: 60px;">
            <label for="input05" class="col-sm-1 control-label">Search</label>
            <div class="col-sm-11">
                <input type="text" class="form-control rounded" ng-model="searchText" id="input05">
                <span ng-click="searchText=''" id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
            </div>
        </div>
        <div class="form-group">
            <ul dnd-list="fbTasks">
                <li dir-paginate="task in fbTasks |filter:{status:'!deleted'}| filter:searchText| itemsPerPage: tasksPerPage"
                    dnd-draggable="task"
                    dnd-effect-allowed="move"
                    dnd-selected="dndSelectedFn(task)"
                    ng-class="{'selected':models.selected==task}">
                    <div class="row task">
                        <div class="col-md-5 description">
                            {[{task.description}]}
                        </div>
                        <div class="col-md-3 task-image"><img src="{[{task.ownerImage}]}" alt=""
                                                              class="img-circle size-30x30"><span>{[{task.owner}]}</span>
                        </div>
                        <div class="col-md-2 progress-task">{[{task.status}]}</div>
                        <div class="col-md-2">{[{task.due| date: 'MM-DD-YYYY'}]}</div>
                        <div class="col-md-1">
                            <a ng-click="editTask($index)" href="#" class="pull-right"><i class="fa fa-edit"></i></a>
                            <a ng-click="deleteTask(task.$id)" href="#" class="md-pr-10 pull-right"><i
                                    class="fa fa-trash"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-2">
                <p>Tasks per Page</p>
            </div>
            <div class="col-md-2">
                <select class="form-control" ng-model="tasksPerPage">
                    <option>2</option>
                    <option selected>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>10</option>
                </select>
            </div>
            <div class="col-md-8">
                <dir-pagination-controls></dir-pagination-controls>
            </div>
        </div>

    </div>
</section>

<div id="controls" class="rightbar-hidden">
    <aside id="rightbar">
        <div class="container">
            <div class="row aside-header">
                <div class="col-md-12">
                    <a role="button" tabindex="0" class="tile-close" style="float: right;"
                       ng-click="closeRightSidebar()"><i
                            class="fa fa-times"></i></a>
                    <h4>Edit Task</h4>
                </div>
            </div>
            <div class="row md-pt-40">
                <div class="col-md-12">
                    <div contenteditable ng-model="models.selected.description"></div>
                </div>
            </div>
            <div class="row md-pt-20">
                <div class="col-md-12">
                    <selectize config='myConfig' options='myOptions' ng-model="models.selected.ownerEmail"></selectize>
                </div>
            </div>
            <div class="row md-pt-20">
                <div class="col-md-12">
                    <selectize config='statusConfig' options='statusOptions'
                               ng-model="models.selected.status"></selectize>
                </div>
            </div>
            <div class="row md-pt-20">
                <div class="col-md-12">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#"
                           href="">
                            <div class="input-append"><input type="text" class="input-large"
                                                             data-ng-model="models.selected.due">
                                <span class="add-on"><i class="fa fa-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="models.selected.due"
                                            data-datetimepicker-config="{ modelType: 'MM-DD-YYYY', minView:'day', dropdownSelector: '.dropdown-toggle' }"></datetimepicker>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row md-pt-50">
                <div class="col-md-12">
                    <button ng-click="saveEditedItem(models.selected.$id)" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </aside>
</div>
