<aside after-render="sidebarToggle2" id="sidebar" class="sidebar-show">
    <div id="sidebar-wrap">
        <div class="panel-group slim-scroll" role="tablist">
                <div id="sidebarNav" class="panel-collapse collapse in" role="tabpanel">
                    <div class="panel-body">
                        <ul id="navigation">
                            <li><a href="index.html"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
                            <li>
                                <a href=""><i class="fa fa-envelope-o"></i> <span>Mail</span> <span
                                        class="badge bg-lightred">6</span></a>
                                <ul>
                                    <li><a href="mail-inbox.html"><i class="fa fa-caret-right"></i> Inbox</a></li>
                                    <li><a href="mail-compose.html"><i class="fa fa-caret-right"></i> Compose
                                        Mail</a></li>
                                    <li><a href="mail-single.html"><i class="fa fa-caret-right"></i> Single Mail</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-list"></i> <span>Form Stuff</span></a>
                                <ul>
                                    <li><a href="form-common.html"><i class="fa fa-caret-right"></i> Common Elements</a>
                                    </li>
                                    <li><a href="form-validate.html"><i class="fa fa-caret-right"></i> Validation
                                        Elements</a></li>
                                    <li><a href="form-wizard.html"><i class="fa fa-caret-right"></i> Form Wizard
                                        <span class="badge badge-success">13</span></a></li>
                                    <li><a href="form-upload.html"><i class="fa fa-caret-right"></i> File Upload</a>
                                    </li>
                                    <li><a href="form-imgcrop.html"><i class="fa fa-caret-right"></i> Image Crop</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-pencil"></i> <span>UI Kit</span></a>
                                <ul>
                                    <li><a href="ui-general.html"><i class="fa fa-caret-right"></i> General Elements</a>
                                    </li>
                                    <li><a href="ui-buttons-icons.html"><i class="fa fa-caret-right"></i> Buttons &
                                        Icons</a></li>
                                    <li><a href="ui-typography.html"><i class="fa fa-caret-right"></i>
                                        Typography</a></li>
                                    <li><a href="ui-navs.html"><i class="fa fa-caret-right"></i> Navigation &
                                        Accordions</a></li>
                                    <li><a href="ui-modals.html"><i class="fa fa-caret-right"></i> Modals</a></li>
                                    <li><a href="ui-tiles.html"><i class="fa fa-caret-right"></i> Tiles</a></li>
                                    <li><a href="ui-portlets.html"><i class="fa fa-caret-right"></i> Portlets</a>
                                    </li>
                                    <li><a href="ui-grid.html"><i class="fa fa-caret-right"></i> Grid</a></li>
                                    <li><a href="ui-widgets.html"><i class="fa fa-caret-right"></i> Widgets</a></li>
                                    <li><a href="ui-tree.html"><i class="fa fa-caret-right"></i> Tree </a></li>
                                    <li><a href="ui-lists.html"><i class="fa fa-caret-right"></i> Lists</a></li>
                                    <li><a href="ui-alerts.html"><i class="fa fa-caret-right"></i> Alerts &
                                        Notifications</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!--/ NAVIGATION Content -->
                    </div>
                </div>
            </div>
        </div>

    </div>


</aside>