<aside after-render="sidebarToggle2" id="sidebar" class="sidebar-show">
    <div id="sidebar-wrap">
        <div class="panel-group slim-scroll" role="tablist">
                <div id="sidebarNav" class="panel-collapse collapse in" role="tabpanel">
                    <div class="panel-body">
                        <ul id="navigation">
                            <li><a href=""><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
                            <li>
                                <a href=""><i class="fa fa-book"></i> <span>Projects</span></a>
                                <ul>
                                    <li><a href="mail-inbox.html"><i class="fa fa-caret-right"></i> Add New</a></li>
                                    <li><a href="mail-compose.html"><i class="fa fa-caret-right"></i> View Available</a></li>
                                    <li><a href="mail-single.html"><i class="fa fa-caret-right"></i>View Internal</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-users"></i> <span>Users</span></a>
                                <ul>
                                    <li><a href="form-common.html"><i class="fa fa-caret-right"></i>Add New</a></li>
                                    <li><a href="form-validate.html"><i class="fa fa-caret-right"></i>Upload Users</a></li>
                                    <li><a href="form-wizard.html"><i class="fa fa-caret-right"></i> View Users<span class="badge badge-success">13</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-envelope-o"></i> <span>Requests</span><span class="badge bg-lightred">6</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>