<div class="row mt-40">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">

                <!-- tile -->
                <section class="tile">

                    <!-- tile header -->
                    <div class="tile-header dvd dvd-btm">
                        <h1 class="custom-font"><strong>Tab</strong> Navigation</h1>
                        <ul class="controls">
                            <li class="dropdown">

                                <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
                                    <i class="fa fa-cog"></i>
                                    <i class="fa fa-spinner fa-spin"></i>
                                </a>

                                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                    <li>
                                        <a role="button" tabindex="0" class="tile-toggle">
                                            <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
                                            <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a role="button" tabindex="0" class="tile-refresh">
                                            <i class="fa fa-refresh"></i> Refresh
                                        </a>
                                    </li>
                                    <li>
                                        <a role="button" tabindex="0" class="tile-fullscreen">
                                            <i class="fa fa-expand"></i> Fullscreen
                                        </a>
                                    </li>
                                </ul>

                            </li>
                            <li class="remove"><a role="button" tabindex="0" class="tile-close"><i
                                    class="fa fa-times"></i></a></li>
                        </ul>
                    </div>
                    <!-- /tile header -->
                    <div class="tile-widget p-30 text-center">
                        <div class="thumb thumb-xl">
                            <img class="img-circle" src="/img/arnold-avatar.jpg" alt="">
                        </div>
                        <h4 class="mb-0"><strong>John</strong> Douey</h4>
                        <span class="text-muted">Project Manager</span>
                    </div>


                    <!-- tile body -->
                    <div class="tile-body">


                        <ul class="nav nav-tabs mt-20 mb-20">
                            <li role="presentation" class="active"><a href="#">Home</a></li>
                            <li role="presentation"><a href="#">Profile</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                        </ul>
                    </div>

                </section>
                <!-- /tile -->


                <!-- CALENDAR -->
                <!--section class="tile bg-slategray widget-calendar">

                    <div class="tile-header dvd dvd-btm">
                        <h1 class="custom-font"><strong>Mini </strong>Calendar</h1>
                        <ul class="controls">
                            <li class="dropdown">

                                <a role="button" tabindex="0" class="dropdown-toggle settings"
                                   data-toggle="dropdown">
                                    <i class="fa fa-cog"></i>
                                    <i class="fa fa-spinner fa-spin"></i>
                                </a>

                                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                    <li>
                                        <a role="button" tabindex="0" class="tile-toggle">
                                            <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
                                            <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a role="button" tabindex="0" class="tile-refresh">
                                            <i class="fa fa-refresh"></i> Refresh
                                        </a>
                                    </li>
                                    <li>
                                        <a role="button" tabindex="0" class="tile-fullscreen">
                                            <i class="fa fa-expand"></i> Fullscreen
                                        </a>
                                    </li>
                                </ul>

                            </li>
                            <li class="remove"><a role="button" tabindex="0" class="tile-close"><i
                                    class="fa fa-times"></i></a></li>
                        </ul>
                    </div>
                    <div class="tile-body p-0">
                        <div id="mini-calendar"></div>
                    </div>
                </section-->
                <!-- CALENDAR -->
            </div>
            <div class="col-md-6">
                <!-- TEAM -->
                <section class="tile tile-simple">

                    <!-- tile header -->
                    <div class="tile-header">
                        <h1 class="custom-font"><strong>Friend</strong> List</h1>
                    </div>
                    <!-- /tile header -->

                    <!-- tile body -->
                    <div class="tile-body">

                        <div class="media ">
                            <div class="pull-left thumb">
                                <img class="media-object img-circle" src="/img/random-avatar5.jpg" alt="">
                            </div>
                            <div class="pull-right mt-10">
                                <button type="button" class="btn btn-rounded-20 btn-default btn-sm mr-5"
                                        style="width:30px;"><i class="fa fa-times"></i></button>
                                <button type="button" class="btn btn-rounded-20 btn-default btn-sm mr-5"
                                        style="width:30px;"><i class="fa fa-pencil"></i></button>
                                <button type="button" class="btn btn-rounded-20 btn-default btn-sm" style="width:30px;">
                                    <i class="fa fa-eye" style="margin-left: -2px;"></i></button>
                            </div>
                            <div class="media-body">
                                <p class="media-heading mb-0 mt-10">Roger <strong>Flopple</strong></p>
                                <small class="text-lightred">Manager</small>
                            </div>
                        </div>

                        <hr/>

                        <div class="media">
                            <div class="pull-left thumb">
                                <img class="media-object img-circle" src="/img/random-avatar4.jpg" alt="">
                            </div>
                            <div class="pull-right mt-10">
                                <button type="button" class="btn btn-rounded-20 btn-default btn-sm mr-5"
                                        style="width:30px;"><i class="fa fa-times"></i></button>
                                <button type="button" class="btn btn-rounded-20 btn-default btn-sm mr-5"
                                        style="width:30px;"><i class="fa fa-pencil"></i></button>
                                <button type="button" class="btn btn-rounded-20 btn-default btn-sm" style="width:30px;">
                                    <i class="fa fa-eye" style="margin-left: -2px;"></i></button>
                            </div>
                            <div class="media-body">
                                <p class="media-heading mb-0 mt-10">Deel <strong>McApple</strong></p>
                                <small class="text-lightred">Print master</small>
                            </div>
                        </div>

                        <hr/>

                        <div class="media ">
                            <div class="pull-left thumb">
                                <img class="media-object img-circle" src="/img/random-avatar8.jpg" alt="">
                            </div>
                            <div class="pull-right mt-10">
                                <button type="button" class="btn btn-rounded-20 btn-default btn-sm mr-5"
                                        style="width:30px;"><i class="fa fa-times"></i></button>
                                <button type="button" class="btn btn-rounded-20 btn-default btn-sm mr-5"
                                        style="width:30px;"><i class="fa fa-pencil"></i></button>
                                <button type="button" class="btn btn-rounded-20 btn-default btn-sm" style="width:30px;">
                                    <i class="fa fa-eye" style="margin-left: -2px;"></i></button>
                            </div>
                            <div class="media-body">
                                <p class="media-heading mb-0 mt-10">Anna <strong>Opichia</strong></p>
                                <small class="text-lightred">lead designer</small>
                            </div>
                        </div>

                        <hr/>

                        <div class="media ">
                            <div class="pull-left thumb">
                                <img class="media-object img-circle" src="/img/random-avatar7.jpg" alt="">
                            </div>
                            <div class="pull-right mt-10">
                                <button type="button" class="btn btn-rounded-20 btn-default btn-sm mr-5"
                                        style="width:30px;"><i class="fa fa-times"></i></button>
                                <button type="button" class="btn btn-rounded-20 btn-default btn-sm mr-5"
                                        style="width:30px;"><i class="fa fa-pencil"></i></button>
                                <button type="button" class="btn btn-rounded-20 btn-default btn-sm" style="width:30px;">
                                    <i class="fa fa-eye" style="margin-left: -2px;"></i></button>
                            </div>
                            <div class="media-body">
                                <p class="media-heading mb-0 mt-10">Bobby <strong>Socks</strong></p>
                                <small class="text-lightred">CEO</small>
                            </div>
                        </div>

                    </div>
                    <!-- /tile body -->

                </section>
                <!-- /TEAM -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- TASKS -->
                <section class="tile">

                    <!-- tile header -->
                    <div class="tile-header dvd dvd-btm">
                        <h1 class="custom-font"><strong>Editable</strong> Usage</h1>
                        <ul class="controls">
                            <li>
                                <a role="button" tabindex="0" id="add-entry"><i class="fa fa-plus mr-5"></i> Add
                                    Entry</a>
                            </li>
                            <li class="dropdown">

                                <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
                                    <i class="fa fa-cog"></i>
                                    <i class="fa fa-spinner fa-spin"></i>
                                </a>

                                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                    <li>
                                        <a role="button" tabindex="0" class="tile-toggle">
                                    <span class="minimize"><i
                                            class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
                                            <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a role="button" tabindex="0" class="tile-refresh">
                                            <i class="fa fa-refresh"></i> Refresh
                                        </a>
                                    </li>
                                    <li>
                                        <a role="button" tabindex="0" class="tile-fullscreen">
                                            <i class="fa fa-expand"></i> Fullscreen
                                        </a>
                                    </li>
                                </ul>

                            </li>
                            <li class="remove"><a role="button" tabindex="0" class="tile-close"><i
                                    class="fa fa-times"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- /tile header -->

                    <!-- tile body -->
                    <div class="tile-body">
                        <div class="table-responsive">
                            <table class="table table-custom" id="editable-usage">
                                <thead>
                                <tr>
                                    <th>Rendering engine</th>
                                    <th>Browser</th>
                                    <th>Platform(s)</th>
                                    <th>Engine version</th>
                                    <th>CSS grade</th>
                                    <th style="width: 160px;" class="no-sort">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="odd gradeX">
                                    <td>Trident</td>
                                    <td>Internet Explorer 4.0</td>
                                    <td>Win 95+</td>
                                    <td> 4</td>
                                    <td>X</td>
                                    <td class="actions"><a role="button" tabindex="0"
                                                           class="edit text-primary text-uppercase text-strong text-sm mr-10">Edit</a><a
                                            role="button" tabindex="0"
                                            class="delete text-danger text-uppercase text-strong text-sm mr-10">Remove</a>
                                    </td>
                                </tr>
                                <tr class="even gradeC">
                                    <td>Trident</td>
                                    <td>Internet Explorer 5.0</td>
                                    <td>Win 95+</td>
                                    <td>5</td>
                                    <td>C</td>
                                    <td class="actions"><a role="button" tabindex="0"
                                                           class="edit text-primary text-uppercase text-strong text-sm mr-10">Edit</a><a
                                            role="button" tabindex="0"
                                            class="delete text-danger text-uppercase text-strong text-sm mr-10">Remove</a>
                                    </td>
                                </tr>
                                <tr class="odd gradeA">
                                    <td>Trident</td>
                                    <td>Internet Explorer 5.5</td>
                                    <td>Win 95+</td>
                                    <td>5.5</td>
                                    <td>A</td>
                                    <td class="actions"><a role="button" tabindex="0"
                                                           class="edit text-primary text-uppercase text-strong text-sm mr-10">Edit</a><a
                                            role="button" tabindex="0"
                                            class="delete text-danger text-uppercase text-strong text-sm mr-10">Remove</a>
                                    </td>
                                </tr>
                                <tr class="even gradeA">
                                    <td>Trident</td>
                                    <td>Internet Explorer 6</td>
                                    <td>Win 98+</td>
                                    <td>6</td>
                                    <td>A</td>
                                    <td class="actions"><a role="button" tabindex="0"
                                                           class="edit text-primary text-uppercase text-strong text-sm mr-10">Edit</a><a
                                            role="button" tabindex="0"
                                            class="delete text-danger text-uppercase text-strong text-sm mr-10">Remove</a>
                                    </td>
                                </tr>
                                <tr class="odd gradeA">
                                    <td>Trident</td>
                                    <td>Internet Explorer 7</td>
                                    <td>Win XP SP2+</td>
                                    <td>7</td>
                                    <td>A</td>
                                    <td class="actions"><a role="button" tabindex="0"
                                                           class="edit text-primary text-uppercase text-strong text-sm mr-10">Edit</a><a
                                            role="button" tabindex="0"
                                            class="delete text-danger text-uppercase text-strong text-sm mr-10">Remove</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /tile body -->

                </section>
                <!-- /TASKS -->
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <!--- USER STREAM -->
        <section class="tile tile-simple no-bg">

            <!-- tile body -->
            <div class="tile-body streamline p-0">

                <article class="streamline-post">
                    <aside>
                        <div class="thumb thumb-sm">
                            <img class="img-circle" src="/img//ici-avatar.jpg" alt="">
                        </div>
                    </aside>
                    <div class="post-container">

                        <div class="panel panel-default">
                            <div class="panel-heading bg-white">
                                John Douey <span class="label label-primary">Admin</span>
                                <span class="text-muted pull-right"><i class="fa fa-clock-o mr-5"></i> Just now</span>
                            </div>
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

                                <p class="mt-10 mb-0">
                                    <a href="" active-toggle="" class="btn btn-default btn-xs active">
                                        <i class="fa fa-heart-o text-inactive"></i><i
                                            class="fa fa-heart text-danger text-active"></i> Like
                                    </a>
                                    <a href="" class="btn btn-default btn-xs">
                                        <i class="fa fa-mail-reply"></i> Reply
                                    </a>
                                </p>
                            </div>
                        </div>

                        <ul class="list-unstyled post-replies">

                            <li>

                                <aside>
                                    <div class="thumb thumb-sm">
                                        <img class="img-circle" src="/img//random-avatar4.jpg" alt="">
                                    </div>
                                </aside>

                                <div class="reply-container">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <p>
                                                <strong>James Bend</strong>
                                                <span class="text-muted pull-right"><i class="fa fa-clock-o mr-5"></i> 6 minutes ago</span>
                                            </p>

                                            <p class="mb-0 text-small">Unde omnis iste natus error sit voluptatem
                                                accusantium doloremque.</p>
                                        </div>
                                    </div>
                                </div>

                            </li>

                        </ul>

                    </div>
                </article>

                <article class="streamline-post">
                    <aside>
                        <div class="thumb thumb-sm">
                            <img class="img-circle" src="/img//random-avatar1.jpg" alt="">
                        </div>
                    </aside>
                    <div class="post-container">
                        <div class="panel panel-default">
                            <div class="panel-heading bg-white">
                                Mike Herrington <span class="label label-default">User</span>
                                <span class="text-muted pull-right"><i
                                        class="fa fa-clock-o mr-5"></i> 39 minutes ago</span>
                            </div>
                            <div class="panel-body">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo.

                                <p class="mt-10 mb-0">
                                    <a href="" active-toggle="" class="btn btn-default btn-xs">
                                        <i class="fa fa-heart-o text-inactive"></i><i
                                            class="fa fa-heart text-danger text-active"></i> Like
                                    </a>
                                    <a href="" class="btn btn-default btn-xs">
                                        <i class="fa fa-mail-reply"></i> Reply
                                    </a>
                                </p>

                            </div>
                        </div>
                    </div>
                </article>

                <article class="streamline-post">
                    <aside>
                        <div class="thumb thumb-sm">
                            <img class="img-circle" src="/img//random-avatar3.jpg" alt="">
                        </div>
                    </aside>
                    <div class="post-container">
                        <div class="panel panel-default">
                            <div class="panel-heading bg-white">
                                Robin Wills <span class="label label-success">Editor</span>
                                <span class="text-muted pull-right"><i class="fa fa-clock-o mr-5"></i> 1 hour ago</span>
                            </div>
                            <div class="panel-body">
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.

                                <p class="mt-10 mb-0">
                                    <a href="" active-toggle="" class="btn btn-default btn-xs">
                                        <i class="fa fa-heart-o text-inactive"></i><i
                                            class="fa fa-heart text-danger text-active"></i> Like
                                    </a>
                                    <a href="" class="btn btn-default btn-xs">
                                        <i class="fa fa-mail-reply"></i> Reply
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </article>

                <div class="streamline-form">
                    <div class="thumb thumb-sm"><img class="img-circle" src="/img//profile-photo.jpg" alt="">
                    </div>
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Write your comment here...">
                                                  <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button">Post</button>
                                                  </span>
                        </div>
                    </form>
                </div>

            </div>
            <!-- /tile body -->

        </section>
        <!--- /USER STREAM -->
    </div>
</div>