<div class="row m-t-3">
    <div class="col-md-4" ng-repeat="n in testdata track by $index">
        <div class="card card-hover">
            <div class="card-img">
                <img src="http://placehold.it/350x250" alt="">
                <div class="category"><span class="label label-warning">PC</span></div>
                <div class="meta"><a href="games-single.html"><i class="fa fa-heart-o"></i> <span>15</span></a>
                </div>
            </div>
            <div class="caption">
                <h3 class="card-title"><a href="project/{[{n}]}">{[{n}]}</a></h3>
                <ul>
                    <li>March 11, 2016</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit cras felis mauris, accumsan.</p>
            </div>
        </div>
    </div>
</div>