<section class="tile tile-simple no-bg">
    <div class="tile-body streamline p-0">
        <article class="streamline-post">
            <aside>
                <div class="thumb thumb-sm">
                    <img class="img-circle" src="/img//ici-avatar.jpg" alt="">
                </div>
            </aside>
            <div class="post-container">
                <div class="panel panel-default">
                    <div class="panel-heading bg-white">
                        John Douey <span class="label label-primary">Admin</span>
                        <span class="text-muted pull-right"><i class="fa fa-clock-o mr-5"></i> Just now</span>
                    </div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        <p class="mt-10 mb-0">
                            <a href="" active-toggle="" class="btn btn-default btn-xs active">
                                <i class="fa fa-heart-o text-inactive"></i><i
                                    class="fa fa-heart text-danger text-active"></i> Like
                            </a>
                            <a href="" class="btn btn-default btn-xs">
                                <i class="fa fa-mail-reply"></i> Reply
                            </a>
                        </p>
                    </div>
                </div>

                <ul class="list-unstyled post-replies">
                    <li>
                        <aside>
                            <div class="thumb thumb-sm">
                                <img class="img-circle" src="/img//random-avatar4.jpg" alt="">
                            </div>
                        </aside>

                        <div class="reply-container">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p>
                                        <strong>James Bend</strong>
                                        <span class="text-muted pull-right"><i class="fa fa-clock-o mr-5"></i> 6 minutes ago</span>
                                    </p>

                                    <p class="mb-0 text-small">Unde omnis iste natus error sit voluptatem
                                        accusantium doloremque.</p>
                                </div>
                            </div>
                        </div>

                    </li>

                </ul>

            </div>
        </article>

        <article class="streamline-post">
            <aside>
                <div class="thumb thumb-sm">
                    <img class="img-circle" src="/img//random-avatar1.jpg" alt="">
                </div>
            </aside>
            <div class="post-container">
                <div class="panel panel-default">
                    <div class="panel-heading bg-white">
                        Mike Herrington <span class="label label-default">User</span>
                                <span class="text-muted pull-right"><i
                                        class="fa fa-clock-o mr-5"></i> 39 minutes ago</span>
                    </div>
                    <div class="panel-body">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                        architecto beatae vitae dicta sunt explicabo.

                        <p class="mt-10 mb-0">
                            <a href="" active-toggle="" class="btn btn-default btn-xs">
                                <i class="fa fa-heart-o text-inactive"></i><i
                                    class="fa fa-heart text-danger text-active"></i> Like
                            </a>
                            <a href="" class="btn btn-default btn-xs">
                                <i class="fa fa-mail-reply"></i> Reply
                            </a>
                        </p>

                    </div>
                </div>
            </div>
        </article>

        <article class="streamline-post">
            <aside>
                <div class="thumb thumb-sm">
                    <img class="img-circle" src="/img//random-avatar3.jpg" alt="">
                </div>
            </aside>
            <div class="post-container">
                <div class="panel panel-default">
                    <div class="panel-heading bg-white">
                        Robin Wills <span class="label label-success">Editor</span>
                        <span class="text-muted pull-right"><i class="fa fa-clock-o mr-5"></i> 1 hour ago</span>
                    </div>
                    <div class="panel-body">
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.

                        <p class="mt-10 mb-0">
                            <a href="" active-toggle="" class="btn btn-default btn-xs">
                                <i class="fa fa-heart-o text-inactive"></i><i
                                    class="fa fa-heart text-danger text-active"></i> Like
                            </a>
                            <a href="" class="btn btn-default btn-xs">
                                <i class="fa fa-mail-reply"></i> Reply
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </article>

        <div class="streamline-form">
            <div class="thumb thumb-sm"><img class="img-circle" src="/img//profile-photo.jpg" alt="">
            </div>
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Write your comment here...">
                                                  <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button">Post</button>
                                                  </span>
                </div>
            </form>
        </div>

    </div>
    <!-- /tile body -->

</section>