<section class="tile">
    <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font"><strong>Project</strong> Tasks</h1>
        <ul class="controls">
            <li>
                <a role="button" tabindex="0" id="add-entry"><i class="fa fa-plus mr-5"></i> Add
                    Entry</a>
            </li>
            <li class="dropdown">

                <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
                    <i class="fa fa-cog"></i>
                    <i class="fa fa-spinner fa-spin"></i>
                </a>

                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                    <li>
                        <a role="button" tabindex="0" class="tile-toggle">
                                    <span class="minimize"><i
                                            class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
                            <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
                        </a>
                    </li>
                    <li>
                        <a role="button" tabindex="0" class="tile-refresh">
                            <i class="fa fa-refresh"></i> Refresh
                        </a>
                    </li>
                    <li>
                        <a role="button" tabindex="0" class="tile-fullscreen">
                            <i class="fa fa-expand"></i> Fullscreen
                        </a>
                    </li>
                </ul>

            </li>
            <li class="remove"><a role="button" tabindex="0" class="tile-close"><i
                    class="fa fa-times"></i></a>
            </li>
        </ul>
    </div>
    <div class="tile-body project-tasks">
        <label>Search: <input ng-model="searchText"></label>

        <ul dnd-list="tasks">
            <li ng-repeat="task in tasks |filter:searchText| startFrom:currentPage*pageSize | limitTo:pageSize" dnd-draggable="task" dnd-moved="tasks.splice($index,1)"
                dnd-effect-allowed="move" dnd-selected="dndSelectedFn(task)"
                ng-class="{'selected':models.selected==task}">
                <div class="row task">
                    <div class="col-md-6">{[{task.description}]}</div>
                    <div class="col-md-2 task-image"><img src="{[{task.ownerImage}]}" alt=""
                                                          class="img-circle size-30x30"><span>{[{task.owner}]}</span>
                    </div>
                    <div class="col-md-2">{[{task.status}]}</div>
                    <div class="col-md-1">{[{task.due}]}</div>
                    <div class="col-md-1">
                        <a class="pull-right"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
            </li>
        </ul>
        <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
            Previous
        </button>
        {[{currentPage+1}]}/{[{numberOfPages()}]}
        <button ng-disabled="currentPage >= tasks.length/pageSize - 1" ng-click="currentPage=currentPage+1">
            Next
        </button>
    </div>
</section>

<div id="controls" class="rightbar-hidden">
    <aside id="rightbar">
        <div class="row m-20">
            <a role="button" tabindex="0" class="tile-close" style="float: right" ng-click="closeRightSidebar()"><i
                    class="fa fa-times"></i></a>
        </div>

        <div class="row m-40">
            {[{models.selected.description}]}
        </div>

    </aside>
</div>
