<section class="tile">
    <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font"><strong>Team</strong> Members</h1>
        <ul class="controls">
            <li class="remove"><a role="button" tabindex="0" class="tile-close"><i
                    class="fa fa-times"></i></a>
            </li>
        </ul>
    </div>
    <div class="tile-body fixed-height-350">
        <div ng-repeat="member in team">
        <div class="media">
            <div class="pull-left thumb">
                <img class="media-object img-circle" ng-src="{[{member.avatar}]}" alt="">
            </div>
            <div class="pull-right mt-10">
                <img ng-for="badge in member.badges" class="media-object badge-img" src="{[{badge}]}" alt="">
            </div>
            <div class="media-body">
                <p class="media-heading mb-0 mt-10">{[{member.firstName}]} <strong>{[{member.lastName}]}</strong></p>
                <small class="text-lightred">{[{member.role}]}</small>
            </div>
        </div>
        <hr/>
        </div>
    </div>
</section>